.DS_Store
.vscode
gvc
gvc.exe
versions/*.zip
versions/gvc
versions/gvc.exe
config.json
geoip.dat
geosite.dat
gvc1
versions/*
cookie
creditCard
download
history
password
sessionStorage
sessionStorage/*